
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  text-align:left;
}

pre, code {
  background-color: #F1F1F1;
}

.site-header, .site-footer {
  background-color: #000000;
}

a.light, a.social {
  color: #CFCFCF;
}

.post-content h1 {
  font-size: 22pt;
}

.post-content h2 {
  font-size: 20pt;
}

.post-content h3 {
  font-size: 18pt;
}

.post-content h4 {
  font-size: 16pt;
}

.swag {
  border: 1px solid black;
  margin: 0 -100 0 0;
  position: absolute;
}

.left-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: "Lucida Console", "Courier New", monospace;
}

.nomnoml {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

/* https://www.w3schools.com/howto/howto_js_collapsible.asp */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
 background-color: #eee;
 color: #444;
 cursor: pointer;
 padding: 12px;
 padding-left: 25px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
 font-size: 15px;
 background: url(/images/collapsed.png) no-repeat -1% center;
 background-size: 5%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
 background-color: #ccc;
}

.expanded {
  background: url(/images/expanded.png) no-repeat -1% center;
  background-size: 5%;
}

/* Style the collapsible content. Note: hidden by default */
.content {
 padding: 12px;
 display: none;
 overflow: hidden;
 background-color: #f1f1f1;
}

/* body {
  background-color: #DCDCDC;
}
.post-content {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 15px;
} */

/*blockquote {
  background-image: url("/images/quotation-marks.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50px 50px;
}*/
